---
apiVersion: v1
kind: Service
metadata:
  name: accounting
  labels:
    app: accounting
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
  selector:
    app: accounting
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: accounting
  labels:
    app: accounting
spec:
  selector:
    matchLabels:
      app: accounting
  replicas: 1
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: accounting
        name: accounting
        vector.dev/enable: "{{ accounting_vector_enabled }}"
    spec:
      restartPolicy: Always
      containers:
        - name: accounting
          image: "{{ accounting_image }}"
          imagePullPolicy: "{{ image_pull_policy }}"
          env:
            - name: DEPLOY_TIME
              value: "{{ accounting_time }}"
            - name: LOG_LEVEL
              value: "{{ accounting_log_level }}"
            - name: KAFKA_TOPIC
              value: "{{ accounting_kafka_topic }}"
            - name: KAFKA_CLIENT_ID
              value: "{{ accounting_kafka_client_id }}"
            - name: KAFKA_GROUP_ID
              value: "{{ accounting_kafka_group_id }}"
            - name: KAFKA_BROKER_LIST
              value: "{{ accounting_kafka_broker_list }}"
            - name: KAFKA_HBINTERVAL_MS
              value: "{{ accounting_kafka_hbinterval_ms }}"
            - name: ADVENTURER_TOKEN
              value: "{{ admin_token }}"
            - name: FINANCE_BASE
              value: "{{ finance_endpoint }}"
            - name: KANBAN_BASE
              value: "{{ kanban_endpoint }}"
            - name: CLUB_BASE
              value: "{{ club_endpoint }}"
            - name: TASK_BONUS
              value: "{{ task_bonus }}"
            - name: EXP_BONUS
              value: "{{ exp_bonus }}"
            - name: OVERDUE_DISCOUNT
              value: "{{ overdue_discount }}"
            - name: OVERDUE_EXP_DISCOUNT
              value: "{{ overdue_exp_discount }}"
          resources:
            limits:
              cpu: "500m"
              memory: "1Gi"
            requests:
              cpu: "10m"
              memory: "32Mi"
