---
apiVersion: v1
kind: Service
metadata:
  name: finance
  labels:
    app: finance
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
  selector:
    app: finance
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: finance
  labels:
    app: finance
spec:
  selector:
    matchLabels:
      app: finance
  replicas: 1
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: finance
    spec:
      restartPolicy: Always
      containers:
        - name: finance
          image: "{{ finance_image }}"
          imagePullPolicy: Always
          env:
            - name: DEPLOY_TIME
              value: "{{ finance_time }}"
            - name: PORT
              value: "{{ finance_port }}"
            - name: BASE
              value: "{{ finance_path }}"
            - name: POSTGRES_HOST
              value: "{{ finance_postgresql_host }}"
            - name: POSTGRES_DBNAME
              value: finance
          ports:
            - name: http
              containerPort: 80
          resources:
            limits:
              cpu: "500m"
              memory: "1Gi"
            requests:
              cpu: "10m"
              memory: "32Mi"
