---
apiVersion: v1
kind: Service
metadata:
  name: guide
  labels:
    app: guide
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
  selector:
    app: guide

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: guide
  labels:
    app: guide
spec:
  replicas: 1
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: guide
  template:
    metadata:
      labels:
        app: guide
    spec:
      restartPolicy: Always
      containers:
        - name: guide
          image: "{{ guide_image }}"
          imagePullPolicy: "{{ image_pull_policy }}"
          env:
            - name: DEPLOY_TIME
              value: "{{ guide_time }}"
          ports:
            - name: http
              containerPort: 80
          resources:
            limits:
              cpu: "1000m"
              memory: "1Gi"
            requests:
              cpu: "10m"
              memory: "32Mi"
