---
apiVersion: v1
kind: Service
metadata:
  name: kanban
  labels:
    app: kanban
  namespace: "{{namespace}}"
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
  selector:
    app: kanban
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kanban
  labels:
    app: kanban
  namespace: "{{namespace}}"
spec:
  selector:
    matchLabels:
      app: kanban
  replicas: 1
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: kanban
    spec:
      restartPolicy: Always
      containers:
        - name: kanban
          image: "{{ kanban_image }}"
          imagePullPolicy: Always
          env:
            - name: DEPLOY_TIME
              value: "{{ kanban_time }}"
            - name: PORT
              value: "{{ kanban_port }}"
            - name: MONGODB_CONNECTION
              value: "{{ kanban_mongo_connection }}"
          ports:
            - name: http
              containerPort: 80
          resources:
            limits:
              cpu: "500m"
              memory: "1Gi"
            requests:
              cpu: "10m"
              memory: "32Mi"
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: api-kanban
  namespace: "{{ namespace }}"
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: "{{ cert_issuer }}"
    traefik.ingress.kubernetes.io/rewrite-target: /v0
    # traefik.ingress.kubernetes.io/redirect-entry-point: https
spec:
  rules:
    - host: api.{{ domain }}
      http:
        paths:
          - path: /kanban/v0
            backend:
              serviceName: kanban
              servicePort: 80